<!DOCTYPE html>
<html lang="en">
<head>
<title>CSS Website Layout</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="../css/estilos.css">

</head>
<body>

<div class="header">
    <h1 class='titulo'>CURSAS</h1>
  <div class="topnav">
      <a href="index.html" style="margin-left: 33%">Inicio</a>
      <a href="#">categorias</a>
      <a href="#">Noticias</a>
      <a href="../view/inscribirse.php">Inscripción</a>
  </div>
</div>

<div class="fecha">
  <p></p>
</div>

<div class="row">
  <div class="column">
    <h1 style = "text-align:center">Inicio</h1>
      <img src="">
    <h2>Información</h2>
    <p>En esta pagina web os encontrareis las ultimas noticias de vuestros libros preferidos.</p>
   <h3>Noticias</h3>
   <br><br>
    <div class="noticias">
      <img src="../img/noticia1.jpg">
    </div>

    <div class="texto">Cursas.com</div>
    <div class="noticias">
      <img src="../img/noticia2.jpg">
    </div>

    <div class="texto1">Lasmejorescursas.es</div>
    <div class="noticias">
      <img src="../img/noticia3.jpg">
      <div class="texto2">Noticias</div>
    </div>
  </div>
</div>
<br><br><br>
<footer>
  <h3><strong>Contacto</strong></h3>
  <p>12 de octubre del 2020</p>
  <p>Jesuitas Bellvitge JOAN XXIII</p>
  <p>Creadora: Judit Fernández Vico</p>
</footer>
</body>
</html>
